<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877194942163-33u7ermee78t2eqfv4cbkmgaiqu757on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877194942163-33u7ermee78t2eqfv4cbkmgaiqu757on</string>
	<key>API_KEY</key>
	<string>AIzaSyAt5P9-Eus_jtjEQffYeg8YZxHAhqomZDI</string>
	<key>GCM_SENDER_ID</key>
	<string>877194942163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theawesomeco.blackjackai</string>
	<key>PROJECT_ID</key>
	<string>blackjackai-5e87a</string>
	<key>STORAGE_BUCKET</key>
	<string>blackjackai-5e87a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877194942163:ios:6b667d8755a2f2b076e626</string>
</dict>
</plist>